{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load wagtailvideos_tags %}
{% load static wagtailcore_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home_page.css' %}">
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<section id='hero'>
  {% if page.hero_text %}
    <div id="hero_text">
      <h1>{{ page.hero_text }}</h1>
    </div>
  {% endif %}
  {% if page.hero_link %}
  <div id="hero_button">
      <a href="{% pageurl page.hero_link %}">
          {% if page.hero_button %}
              {{ page.hero_button|lower }}
          {% else %}
              перейти
          {% endif %} 
      </a>
  </div>
  {% endif %}
</section>
<section id='content'>
  {{ page.body|richtext }}
</section>
<section class="section">
{% comment %} Слайдер {% endcomment %}
{% if eventpages.count > 0 %}

<div class="slider" role="region" aria-label="Паттерны">
  <div class="controls" role="group" aria-label="Управление слайдами">
    {% comment %} Загружаемый, повторяющийся элемент {% endcomment %}
     {% for event in eventpages %}
     <button class="button button-radio" type="button" aria-label="Показать {{ forloop.counter }} из {{ eventpages.count }}"
     {% if forloop.counter == 1 %} aria-current="true" {% endif %}></button>
     {% endfor %}
  </div>
  <button aria-label="Предыдущий" type="button" class="button button-prev"></button>
  <button aria-label="Следующий" type="button" class="button button-next"></button>
  <div class="slides" aria-live="off">
     {% for event in eventpages %}
     <div class="slide" role="group" aria-labelledby="item-{{ forloop.counter }}-label" id="carousel-item-{{ forloop.counter }}" >
      {% with event.image as image %}
        {% if image %} {% image image fill-1304x483 class="slide-img" %} {% endif %}
      {% endwith %}      
      <h2 id="item-{{ forloop.counter }}-label">{{ event.h1 }}</h2>
      <date>
        {{ event.date_on|date:"d.m.Y" }}
        {% comment %} 
          TODO: Проверку дат ниже надо реализовать на стороне сервера при сохранении записи события 
        {% endcomment %}
        {% if event.date_end > event.date_on %} - {{ event.date_end|date:"d.m.Y" }} {% endif %}
      </date>
      {% if event.location %} <div class='location'>{{ event.location }}</div> {% endif %}
    </div> 
     {% endfor %}
  </div>
</div>

{% endif %}

</section>
{% if self.hero_video %}
  {% video self.hero_video muted loop playsinline autoplay id=bg_video %}
{% endif %}
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'js/home_page.js' %}"></script>
{% endblock %}
