{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load wagtailvideos_tags %}
{% load static wagtailcore_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home_page.css' %}">
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<section id='hero'>
  {% if page.hero_text %}
    <div id="hero_text">
      <h1>{{ page.hero_text }}</h1>
    </div>
  {% endif %}
  {% if page.hero_link %}
  <div id="hero_button">
      <a href="{% pageurl page.hero_link %}">
          {% if page.hero_button %}
              {{ page.hero_button|lower }}
          {% else %}
              перейти
          {% endif %} 
      </a>
  </div>
  {% endif %}
</section>
<section id='content'>
  {{ page.body|richtext }}
</section>
<section class="section">

{% comment %} Слайдер {% endcomment %}
{% if eventpages.count > 0 %}
<div id="sl" role="region" aria-label="Слайдер">
  <div role="group" aria-label="Управление слайдами">
    <button class="button button-prev" aria-disabled="true"><i class="fa-light fa-chevron-left" ></i></button>
    <button class="button button-next" aria-disabled="false"><i class="fa-light fa-chevron-right"></i></button>
    <div class="radio-group">
      {% for event in eventpages %}
        <button class="button button-radio" type="button" 
          aria-label="Показать {{ forloop.counter }} из {{ eventpages.count }}"
          {% if forloop.first %} aria-current='true' {% endif %} 
          slide-num="{{ forloop.counter }}"></button>
      {% endfor %}
    </div>
  </div>
  <div id="sl-slides" aria-live="off">
    {% for event in eventpages %}
      <a class="sl-slide" role="group" aria-labelledby="item-{{ forloop.counter }}-label"
        id="carousel-item-{{ forloop.counter }}" href="{% pageurl event %}">
        {% with event.image as image %}
          {% if image %} {% image image fill-1304x483 %} {% endif %}
        {% endwith %}
        <h2 id="item-{{ forloop.counter }}-label">{{ event.h1 }}</h2>
        <time>
          {{ event.date_on|date:"d.m.Y" }}
          {% comment %}
            TODO: Проверку дат ниже надо реализовать на стороне сервера при сохранении записи события
          {% endcomment %}
          {% if event.date_end > event.date_on %} - {{ event.date_end|date:"d.m.Y" }} {% endif %}
        </time>
        {% if event.location %} <div>{{ event.location }}</div> {% endif %}
      </a>
    {% endfor %}
  </div>
</div>
{% endif %}

<script>
    
  
</script>
</section>

<style>
  .cal {
    width: 100%;
    /* background-color: var(--body-color); */
    /* background-color: aqua; */
    font-family: Arial, Helvetica, sans-serif;
  }
  #cal {
    width: 100%;
    max-width: var(--content-max-width);
    margin: 0 auto;
    /* box-shadow: 0 0 2px red inset; */
    position: relative;
    font-size: 1.5rem;
  }
  #cal-start, #cal-end {
    position: absolute;
    top: 0;
    width: 7rem;
    height: 100%;
    position: absolute;
    /* box-shadow: 0 0 2px blue inset; */
    z-index: 1;
  }
  #cal-start {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #FFF 40%);
    display: none;  /* начальное значение */
  }
  #cal-end {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #FFF 40%);
  }
  #cal-start > i, #cal-end > i {
    position: absolute;
    top: 50%;
    transform: translateY(-10%);
  }
  #cal-start > i {
    left: .4em;
  }
  #cal-end > i {
    right: .4em;
  }
  #cal-container {
    scrollbar-width: none; /* Для браузера FireFox скрытие scrollbar */
    padding: .5em 0;
    position: relative;
    scroll-snap-type: x mandatory;
    display: flex;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
  }
  #cal-container::-webkit-scrollbar { /* Для webkit скрытие scrollbar */
    width: 0;
    height: 0;
  }
  .cal-month {
    border-radius: .5em;
  }
  .cal-month + .cal-month {
    margin-left: .5em;
  }
  .cal-month > time {
    font-size: .8em;
    font-variant: small-caps;
    font-weight: bold;
    opacity: .5;
    padding-left: .5em;
    position: sticky;
    z-index: 2;
  }
  /* .cal-month:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  } */
  .cal-month:hover > time {
    opacity: .7;
  }
  .cal-month > div {
    display: flex;
  }
  .cal-day {
    padding: .3em;
    border-radius: 1em;
    width: 2em;
    text-align: center;
  }
  .cal-day + .cal-day {
    margin-left: .1em;
  }
  .cal-day[aria-current='true'] {
    background-color: rgba(0, 0, 0, .1);
  }
  .cal-day:hover > p {
    opacity: .9;
    transition: all 300ms;
  }
  .cal-day > time {
    font-weight: bold;
    font-size: .9em;
  }
  .cal-day > p {
    margin: 0;
    font-variant: small-caps;
    font-weight: bold;
    opacity: .6;
    font-size: .8em;
  }
  .cal-day .red {
    color: red;
  }
  #cal-last {
    border-radius: 1.2em;
    box-shadow: 0 0 10px rgba(50, 50, 50, .2);
    font-size: .7em;
    font-weight: bold;
    text-align: center;
    margin: auto 1em;
    padding: .6em .8em;
    white-space: nowrap;
  }
  #cal-last:hover, #cal-last:focus {
    box-shadow: 0 3px 15px rgba(50, 50, 50, .3);
    transform: translateY(-3px);
  }
</style>
<section class="cal">
  <div id="cal">
    <a id="cal-start"><i class="fa-light fa-chevron-left"></i></a>
    <a id="cal-end"><i class="fa-light fa-chevron-right"></i></a>
    <div id="cal-container">
      {% for month, days in calendar %}
      <div class="cal-month">
        <time datetime="{{ month }}">{{ month }}</time>
        <div>
          {% for date_, day, weekday in days.days %}
          <a class="cal-day">
            <time datetime="{{ date_ }}">{{ day }}</time>
            <p>{{ weekday }}</p>
          </a>
          {% endfor %}
          {% if forloop.last %}
          <a id="cal-last">
            Другая дата&nbsp; <i class="fa-sharp fa-light fa-caret-down"></i>
          </a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div id="datestring">##</div>
</section>

<script>
  const calcontainer = document.getElementById(`cal-container`);
  const num = 5; // шаг, сколько прокрутить на клик (в днях)
  const getPosition = () => { // позиция прокрутки ленты дней календаря
    return calcontainer.scrollLeft;
  }
  const calDayWidth = () => { // ширина элемента .cal-day
    return calcontainer.querySelector(".cal-day").clientWidth;
  }
  // Ширина всей ленты с датами, которая прокручивается
  const widthDays = () => {
    let widthall = 0;
    document.querySelectorAll(".cal-month").forEach(_month => {
      widthall += _month.clientWidth;
    });
    return widthall;
  }
  // Показать|убрать стрелки перемотки ленты
  function reDrowArrows() {
    const position = getPosition();
    endposition = widthDays() - calcontainer.clientWidth - position;
    if (position == 0) document.getElementById('cal-start').style.display = 'none' // начало ленты
    else document.getElementById('cal-start').style.display = 'block';
    if (endposition <= 0) document.getElementById('cal-end').style.display = 'none' // конец ленты
    else document.getElementById('cal-end').style.display = 'block';
  }
  document.getElementById("cal-container").addEventListener('scroll', reDrowArrows);
  const resizeObserver = new ResizeObserver((entries, observer) => {
    entries.forEach((entry) => {
      reDrowArrows();
    });
  });
  resizeObserver.observe(calcontainer);

  // Прокрутить ленту через num дней;
  function scrollDate(num) {
    let _left = getPosition() + num * calDayWidth();
    const calLsatWidth = document.getElementById('cal-last').clientWidth; 
    // alert('widthDays: ' + widthDays() + ' _left:' + _left + ' clientWidth: ' + calcontainer.clientWidth + ', calLsatWidth: ' + calLsatWidth);
    if (widthDays() - _left - calLsatWidth < calcontainer.clientWidth) _left = widthDays() - calcontainer.clientWidth;
    calcontainer.scrollTo({top: 0, left: _left, behavior: 'smooth'});
  }
  document.getElementById('cal-start').addEventListener('click', () => scrollDate(-num)); // назад
  document.getElementById('cal-end').addEventListener('click', () => scrollDate(num));  // вперед
  function setDayHandlers() { // назначить обработчики клика на .cal-day ссылки
    calcontainer.querySelectorAll('.cal-day').forEach(calday => {
      calday.addEventListener("click", function() {
        _setDate(this);
      });
    });
  }; setDayHandlers();
  // начнем считать диапазон
  const dateOject = {
    _start: false,
    _start_element: false,
    _end: false,
    _end_element: false,
    _setDate(calDayElement) { 
      const day = calDayElement.querySelector('time').getAttribute('datetime');
      return new Date(Date.parse(day)) 
    },
    set start(day) {
      if (day) { // YYYY-mm-dd|false
        if (this._start_element && this._start_element != day) this._start_element.setAttribute('aria-current', 'false');
        this._start = this._setDate(day);
        this._start_element = day;
        day.setAttribute('aria-current', 'true');
      }
      else {
        this._start = false;
        this._start_element.setAttribute('aria-current', 'false');
        this._start_element = false;
      }
    },
    get start() {
      return this._start;
    },
    set end(day) {
      if (day) { // YYYY-mm-dd|false
        if (day == this._start_element) return;
        if (this._end_element) this._end_element.setAttribute('aria-current', 'false');
        this._end = this._setDate(day);
        this._end_element = day;
        day.setAttribute('aria-current', 'true');
      }
      else {
        this._end = false;
        this._end_element.setAttribute('aria-current', 'false');
        this._end_element = false;
      }
    },
    get end() {
      return this._end;
    },
    get prn() {
      let start = this.start;
      let end = this.end;
      if (this.start > this.end) {
        start = this.end;
        end = this.start;
      };
      _r = start ? start.toLocaleDateString() : "##";
      _r += " --- " + (end ? end.toLocaleDateString() : "##");
      return _r;
    }
  }
  function _setDate(calDayElement) {
    if (!dateOject.start) dateOject.start = calDayElement;
    else if (!dateOject.end) dateOject.end = calDayElement;
    else {
      dateOject.end = false;
      dateOject.start = calDayElement;
    }
    document.getElementById('datestring').innerText = dateOject.prn;
  }
</script>

{% if self.hero_video %}
  {% video self.hero_video muted loop playsinline autoplay id=bg_video %}
{% endif %}
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'js/home_page.js' %}"></script>
{% endblock %}
