{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}
<section id='content'>
    {% if request.GET.tag %}
    <div class='box'>
        <div class='tags gap'>    
            <h1 class='h1'>СОБЫТИЯ С ТЕГОМ</h1>
            <span class='tag is-medium'>{{ request.GET.tag|lower }}</span>
        </div>
    </div>
    {% endif %}
    <div class='box__container'>
    {% for eventpage in eventpages %}
        <a class='box box__child' href="{% pageurl eventpage %}">
            <h3>{{ eventpage.h1|upper }}</h3>
            {% image eventpage.image original class='box__img' %}
            <div class='date'>
                {{ eventpage.date_on }}
                {% if eventpage.date_end %} - {{ eventpage.date_end }} {% endif %}
            </div>
            {% if eventpage.location %}
                <div class='location'>{{ eventpage.location }}</div>
            {% endif %}
            <small>Дата редактирования: {{ eventpage.latest_revision_created_at }}</small>
        </a>
    {% empty %}
        Отсутствуют записи с данным тегом.
    {% endfor %}
    </div>
</section>
{% endblock %}
