{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/event.css' %}">
{% endblock %}
{% block body_class %}template-eventpage{% endblock %}
{% block content %}
<section id="content" class='box'>
    <h1 class='h1'>{{ page.h1|upper }}</h1>
    {% with tags=page.tags.all %}
        {% if tags %}
            <div class='tags'>
                {% for tag in tags  %}
                    <a class='tag' href="{% slugurl 'event-tags' %}?tag={{ tag }}">{{ tag }}</a>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {% image page.image original %}
    <div class='flex-row gap'>
        <div class='date'>
            <strong>Когда:</strong>
            {{ page.date_on }}{% if page.date_end %} - {{ page.date_end }} {% endif %}
        </div>
        {% if page.location %}
        <div class='location'><strong>Где:</strong>{{ page.location }}</div>
        {% endif %}
    </div>
    <h2>{{ page.h2 }}</h2>
    {{ page.body|richtext }}
    {% if page.founder %}<hr>
    <div class='flex-row gap'>    
        <strong>Организаторы: </strong>
        <div>{{ page.founder }}</div>
    </div>
    {% endif %}    
</section>
{% endblock %}
