{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/event.css' %}">
{% endblock %}
{% block body_class %}template-eventpage{% endblock %}
{% block content %}
<section id="content" class='box'>
    <h1 class='h1'>{{ page.h1|upper }}</h1>
    {% with tags=page.tags.all %}
        {% if tags %}
            <div class='tags'>
                {% for tag in tags  %}
                    <a class='tag' href="{% slugurl 'event-tags' %}?tag={{ tag }}">{{ tag }}</a>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {% image page.image width-650 %}
    <h2>{{ page.h2 }}</h2>
    <date>
        {{ page.date_on }}
        {% if page.date_end %} - {{ page.date_end }} {% endif %}
    </date>
    {{ page.body|richtext }}
    {% if page.founder %}
        <h4>Организаторы</h4>
        <p>
            {{ page.founder }}
        </p>
    {% endif %}
    {% if page.location %}
        <h4>Место проведения</h4>
        <p>
            {{ page.location }}
        </p>
    {% endif %}
    <p><a href="{{ page.get_parent.url }}">Вернуться в афишу</a></p>
</section>
{% endblock %}
