<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"> -->
    <title>Document</title>
</head>
<link rel="stylesheet" href="temp.css">
<body>
    <div id="container">
        <header>
            <div id="logo">
                <img src="ttf/logo_min.png" alt="лого">
            </div>
            <ul class="flex-row menu">
                <li class="menu-item">
                    <a href="#">вопросы</a>
                </li>
                <li class="menu-item">
                    <a href="#">события</a>
                </li>
                <li class="menu-item">
                    <a href="#">расписание</a>
                </li>
                <li class="menu-item">
                    <a href="#">связь</a>
                </li>
            </ul>
        </header>
        <main>
            <section id="hero">
                <div id="hero_text">
                    <h1>Спорт даёт энергию жизни!</h1>
                </div>
                <div id="hero_button">
                    <button class="button">РЕГИСТРАЦИЯ</button>
                </div>
            </section>
            <section id="content">
                <div id="events-container" class="flex-row">
                    <div class="box">
                        <h2>Кириллица заголовок!</h2>
                        <p>Вот как выглядит текст на кириллице, клавиши надо нажимать чётко, иначе не пропечатывает.</p>
                    </div>
                    <div class="box">
                        <h2>Новое событие!</h2>
                        <p>Paraghraph text. Paraghraph text. Paraghraph text. Paraghraph text.</p>
                    </div>
                    <div class="box">
                        <h2>Мероприятие по плану!</h2>
                        <p>Paraghraph text. Paraghraph text. Paraghraph text. Paraghraph text.</p>
                    </div>
                    <div class="box">
                        <h2>Div content here!</h2>
                        <p>Paraghraph text. Paraghraph text. Paraghraph text. Paraghraph text.</p>
                    </div>
                </div>
            </section>
            <section>  
                3
            </section>
        </main>
        <footer>
            footer <br>
            test <br>
        </footer>
        <video class="bg_video" muted loop playsinline autoplay>
            <source src="/home/jouri/Видео/bg_video.webm" type="video/webm">
            <source src="/home/jouri/Видео/bg_video.avi" type="video/avi">
        </video>
    </div>
</body>
</html>