{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Поиск{% endblock %}

{% block content %}
<h1>Поиск</h1>

<form action="{% url 'search' %}" method="get">
    <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
    <input type="submit" value="Искать" class="button">
</form>

{% if search_results %}
<p>Вы искали{% if search_query %} “{{ search_query }}”{% endif %}, {{ search_results.paginator.count }} 
    результатов{{ search_results.paginator.count|pluralize }} найдено.</p>
<ol>
    {% for result in search_results %}
    <li>
        <h4><a href="{% pageurl result %}">{{ result }}</a></h4>
        {% if result.search_description %}
        {{ result.search_description }}
        {% endif %}
    </li>
    {% endfor %}
</ol>

{% if search_results.paginator.num_pages > 1 %}
    <p>Страница {{ search_results.number }} из {{ search_results.paginator.num_pages }}, 
        показ {{ search_results|length }} результатов{{ search_results|pluralize }} из {{ search_results.paginator.count }}</p>
{% endif %}

{% if search_results.has_previous %}
<a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Предыдущий</a>
{% endif %}

{% if search_results.has_next %}
<a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Следующий</a>
{% endif %}
{% elif search_query %}
Ничего не найдено
{% endif %}
{% endblock %}
