{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/institution.css' %}">
{% endblock %}

{% block body_class %}template-blogndexpage{% endblock %}
{% block content %}
<section id='content' class="content">
    <div class='box'><h1>{{ page.title|upper }} h1</h1></div>
    <div class='box'><h2>{{ page.title|upper }} h2</h2></div>
    <div class='box'><h3>{{ page.title|upper }} h3</h3></div>
    <div class='box'><h4>{{ page.title|upper }} h4</h4></div>
    <div class='box'><p>{{ page.title|upper }} текст параграфа "p"</p></div>
    {% if page.body %}<div class='box'>{{ page.body|richtext }}</div>{% endif %}
    <div class="box__container">
        {% for institution in page.get_children.live %}
        <a class='box box__child' href="{% pageurl institution %}">
            <div class='flex-row gap'>
                {% with institution.specific.logo as logo %}
                    {% if logo %}<div class='box__logo'>{% image logo original %}</div>{% endif %}
                {% endwith %}
                <h3>{{ institution.title|upper }}</h3>
            </div>
            <div class='box__body'>{{ institution.specific.name }}</div>
            <div class='location'>{{ institution.specific.address }}</div>
        </a>
        {% endfor %}
    </div>
</section>
{% endblock %}
