{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/institution.css' %}">
{% endblock %}
{% block body_class %}template-blogpage{% endblock %}
{% block content %}
<section id='content' class='box'>
    <div class='flex-row gap'>
        {% if page.logo %}<div class='box__logo'>{% image page.logo original %}</div>{% endif %}
        <h1 class='h1'>{{ page.title }}</h1>
    </div>
    <h2 class='box__body'>{{ page.name }}</h2>
    <div class='tags'>
    {% for index in page.get_children.live %}
        <a class='tag is-large is-info' href="{% pageurl index %}">{{ index.title }}</a>
    {% endfor %}
    </div>
    {% if page.description %}{{ page.description|richtext }}{% endif %}
    {% if page.site %}<div class='location flex-row gap'><strong>Сайт:</strong><a href="{{ page.site }}">{{ page.site }}</a></div>{% endif %}
    {% if page.address %}<div class='flex-row gap location'><strong>Адрес:</strong><div>{{ page.address }}</div>{% endif %}
</section>
{% endblock %}
