{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/institution.css' %}">
{% endblock %}
{% block body_class %}template-blogndexpage{% endblock %}
{% block content %}
<section id='content'>
    <div class='box'><h2>{{ page.title }}</h2></div>
    {% if page.body %}<div class='box'>{{ page.body|richtext }}</div>{% endif %}
    <div class="box__container">
        {% for location in page.get_children.live %}
        <div class='box box__child'>
            <a href="{% pageurl location %}"></a>
            <h2>{{ location.title }}</h2>
            {% with location.specific.photo as photo %}
                {% if photo %}<div class="location_image">{% image photo original class='box__img' %}</div>{% endif %}
            {% endwith %}
            <div class='box__body'>{{ location.specific.name }}</div>
            {% if location.specific.address %}
            <div class='flex-row gap grow location'>
                <strong>Адрес:</strong>
                <div>{{ location.specific.address }}</div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
