{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/institution.css' %}">
{% endblock %}
{% block body_class %}template-blogndexpage{% endblock %}
{% block content %}
<section class='container'>
    <h1>{{ page.title }}</h1>
    <div>{{ page.body|richtext }}</div>
    <div class="content">
    {% for location in page.get_children.live %}
        <a class='box' href="{% pageurl location %}">
            <div class='box__caption'><h2>{{ location.title }}</h2></div>
            {% with location.specific.photo as photo %}
                {% if photo %} {% image photo fill-200x100 %} {% endif %}
            {% endwith %}
            <div class='box__body'>{{ location.specific.name }}</div>
            <div class='box__footer'>{{ location.specific.address }}</div>
        </a>
    {% endfor %}
    </div>
    <div class='container__backlink'><a href="{% pageurl page.get_parent %}">{{ page.get_parent }}</a></div>
</section>
{% endblock %}
