{% extends "base.html" %}

{% load static wagtailcore_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/institution.css' %}">
{% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
<section class='container'>
    <h1>{{ page.title }}</h1>
    <h2>{{ page.name }}</h2>
    <div>{% if page.photo %} {% image page.photo fill-160x90 %} {% endif %}</div>
    <div>{% if page.address %} {{ page.address }} {% endif %}</div>
    <div>{% if page.contacts %} {{ page.contacts }} {% endif %}</div>
    <div>{% if page.opening_hours %} {{ page.opening_hours }} {% endif %}</div>
    <div>Организация: {{ page.institution }}</div>
    {% for photo in page.photos.all %}
    <div>{% image photo.photo fill-200x160 %}</div>
    <div>{{ photo.description }}</div>
    {% endfor %}

    <p><a href="{{ page.get_parent.url }}">Вернуться</a></p>
</section>
{% endblock %}