{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/institution.css' %}">
{% endblock %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
<section id='content' class='box content'>
    <h1>{{ page.title }}</h1>
    <h2>{{ page.name }}</h2>
    {% if page.photo %}<div class='locationpage_photo'>{% image page.photo original class='box__img' %}</div>{% endif %}
    {% if page.body %}<div>{{ page.body|richtext }}</div>{% endif %}
    {% if page.address %}
        <div class='flex-row gap location'>
            <strong>Адрес:</strong>
            <div>{{ page.address }}</div>
        </div>
    {% endif %}
    {% if page.contacts %}
        <div class='flex-row gap location'>
            <strong>Контакты:</strong>
            <div>{{ page.contacts }}</div>
        </div>
    {% endif %}
    {% if page.opening_hours %}
        <div class='flex-row gap location'>
            <strong>Режим работы:</strong>
            <div>{{ page.opening_hours }}</div>
        </div>
    {% endif %}
    <input type="checkbox" id="gallery-toggle" hidden>
    <div id='gallery-cover'> </div>
    <div class='gallery'>
        <div class='gallery__photos'> 
            {% for photo in page.photos.all %}
            <label for='gallery-toggle' class='gallery__photo'>
                {% image photo.photo original class='gallery__photo__img' %}
                {% comment %} {% if photo.description %}<div>{{ photo.description }}</div>{% endif %} {% endcomment %}
            </label>
            {% endfor %}
        </div>
        <div class="gallery__control" id="gallery__control_forward">&rarr;</div>
        <div class="gallery__control" id="gallery__control_backward">&larr;</div>
    </div>
    {% for sport in page.sports.all %}
        <div>{{ sport.name }}</div>
    {% endfor %}
</section>
{% endblock %}