{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/institution.css' %}">
{% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-blogndexpage{% endblock %}
{% block content %}
<section class='container'>
    <h1>{{ page.title }}</h1>
    <div>{{ page.body|richtext }}</div>
    {% for location in page.get_children.live %}
        <h2><a href="{% pageurl location %}">{{ location.title }}</a></h2>
        {{ location.specific.name }} {{ location.specific.address }}

        {% with location.specific.photo as photo %}
            {% if photo %} {% image photo fill-160x80 %} {% endif %}
        {% endwith %}
    {% endfor %}
    <div><a href="{{ page.get_parent.url }}">Домой</a></div>
</section>
{% endblock %}
