{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/institution.css' %}">
{% endblock %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
<section id='conntent' class='box content'>
    <h1>{{ page.title }}</h1>
    <h2>{{ page.name }}</h2>
    {% if page.photo %}<div>{% image page.photo original %}</div>{% endif %}
    {% if page.address %}
        <div class='flex-row gap location'>
            <strong>Адрес:</strong>
            <div>{{ page.address }}</div>
        </div>
    {% endif %}
    {% if page.contacts %}
        <div class='flex-row gap location'>
            <strong>Контакты:</strong>
            <div>{{ page.contacts }}</div>
        </div>
    {% endif %}
    {% if page.opening_hours %}
        <div class='flex-row gap location'>
            <strong>Режим работы:</strong>
            <div>{{ page.opening_hours }}</div>
        </div>
    {% endif %}
    <div class='photos'>
    {% for photo in page.photos.all %}
        <div class='photo'>
            {% image photo.photo original %}
            {% if photo.description %}<div>{{ photo.description }}</div>{% endif %}
        </div>
    {% endfor %}
    </div>
    {% for sport in page.sports.all %}
        <div>{{ sport.name }}</div>
    {% endfor %}
</section>
{% endblock %}