{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/institution.css' %}">
{% endblock %}
{% block body_class %}template-blogndexpage{% endblock %}
{% block content %}
<section class='container'>
    <h1>{{ page.title }}</h1>
    <div>{{ page.body|richtext }}</div>
    {% for service in page.get_children.live %}
        <h2><a href="{% pageurl service %}">{{ service }}</a></h2>
        {{ service.specific.name }}
        {% with service.specific.logo as logo %}
            {% if logo %} {% image logo fill-60x60 %} {% endif %}
        {% endwith %}
    {% endfor %}
    <div><a href="{{ page.get_parent.url }}">Назад к {{ page.get_parent }}</a></div>
</section>
{% endblock %}
