{% extends "base.html" %}

{% load static wagtailcore_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/institution.css' %}">
{% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
<section class='container'>
    <h1>{{ page.title }}</h1>
    <p>{{ page.name }}</p>
    <div>{% if page.logo %} {% image page.logo fill-60x60 %} {% endif %}</div>
    <div>Организация: {{ page.institution }}</div>
    {% for location in page.locations_m.all %}
    {% comment %} {% if location.is_published %} {% endcomment %}
    <div>
        <span>Объект: {{ location.specific.name }},</span><br>
        <span>Адрес: {{ location.address }}</span>
    </div>
    {% comment %} {% endif %} {% endcomment %}
    {% endfor %}
    {% for trainer in page.trainers_m.all %}
    <div>
        <span>Тренер: {{ trainer.surname }} {{ trainer.name }},</span>
    </div>
    {% endfor %}

    <p><a href="{{ page.get_parent.url }}">Вернуться</a></p>
</section>
{% endblock %}
