{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/institution.css' %}">
{% endblock %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
<section class='container'>
    <h1>{{ page.title }}</h1>
    <p>{{ page.name }}</p>
    <div>{% if page.logo %} {% image page.logo fill-60x60 %} {% endif %}</div>
    <div>Организация: {{ page.institution }}</div>
    <div> Тренеры: 
        <ul>
            <li>
                {% for trainer in page.trainer.all %}
                    {{ trainer.page }}
                    <div>{% if trainer.page.photo %}{% image trainer.page.photo fill-90x90 %}</div>{% endif %}
                {% endfor %}
            </li>
        </ul>
    </div>
    <div>Объекты:
        <ul>
            <li>
                {% for location in page.location.all %}
                    {{ location.page }}
                    <div>{% if location.page.photo %}{% image location.page.photo fill-90x90 %}</div>{% endif %}
                {% endfor %}
            </li>
        </ul>
    </div>
    <p><a href="{{ page.get_parent.url }}">Вернуться</a></p>
</section>
{% endblock %}
