{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/institution.css' %}">
{% endblock %}
{% block body_class %}template-blogndexpage{% endblock %}
{% block content %}
<section class='container'>
    <h1>{{ page.title }}</h1>
    <div>{{ page.body|richtext }}</div>
    {% for trainer in page.get_children.live %}
        <h2><a href="{% pageurl trainer %}">{{ trainer.title }}</a></h2>
        {{ trainer.specific.surname }} {{ trainer.specific.name }} {{ trainer.specific.name2 }}
        {% with trainer.specific.photo as photo %}
            {% if photo %} {% image photo fill-80x80 %} {% endif %}
        {% endwith %}
    {% endfor %}
    <div><a href="{{ page.get_parent.url }}">Домой</a></div>
</section>
{% endblock %}
