/* 
@font-face {
  font-family: "SOMGER Condensed";
  font-style: normal;
  font-weight: bold;
  src: local("SOMGER Condensed"),
       url("ttf/songercondensed_heavy.otf") format('otf');
}

@font-face {
  font-family: "Literal";
  font-style: normal;
  font-weight: normal;
  src: local("Literal"),
       url("ttf/LiteralRegular.otf") format('otf');
}
@font-face {
  font-family: "Literal Bold";
  font-style: normal;
  font-weight: bold;
  src: local("Literal Bold"),
       url("ttf/LiteralBold.otf") format('otf');
}
@font-face {
  font-family: "Literal Light";
  font-style: normal;
  font-weight: normal;
  src: local("Literal Light"),
       url("ttf/LiteralLight.otf") format('otf');
} */
@font-face {
  font-family: 'Cruinn';
  font-style: normal;
  font-weight: normal;
  src: local("Cruin"),
      url('ttf/Cruinn Regular.ttf');
}
@font-face {
  font-family: 'Cruinn Thin';
  font-style: normal;
  font-weight: normal;
  src: local("Cruin Thin"),
      url('ttf/Cruinn Thin.ttf');
}@font-face {
  font-family: 'Cruinn Light';
  font-style: normal;
  font-weight: normal;
  src: local("Cruin Light"),
      url('ttf/Cruinn Light.ttf');
}@font-face {
  font-family: 'Cruinn Medium';
  font-style: normal;
  font-weight: normal;
  src: local("Cruin Medium"),
      url('ttf/Cruinn Medium.ttf');
}@font-face {
  font-family: 'Cruinn Bold';
  font-style: normal;
  font-weight: bold;
  src: local("Cruin Bold"),
      url('ttf/Cruinn Bold.ttf');
}@font-face {
  font-family: 'Cruinn Black';
  font-style: normal;
  font-weight: bolder;
  src: local("Cruin Black"),
      url('ttf/Cruinn Black.ttf');
}

@font-face {
  font-family: 'IntroHeadR';
  font-style: normal;
  font-weight: normal;
  src: local("IntroHeadR"),
      url('ttf/IntroHeadR-Base.otf');
}

@font-face {
  font-family: 'Theater';
  font-style: normal;
  font-weight: bold;
  src: local("Theater"),
      url('ttf/Theaterv04_Bold.ttf'),
      url('ttf/Theater_Bold.otf');
}

:root {
  --border-radius: .9rem;
  --header-height: 4em;
  
  --brand-color-h: 200;
  --brand-color-s: 96%;
  --brand-color-l: 55%;    
  --brand-bgcolor: hsl(var(--brand-color-h), var(--brand-color-s), var(--brand-color-l));
  
  
  --body-bgcolor-l: 30%;
  --body-bgcolor: hsl(var(--brand-color-h), 1%, var(--body-bgcolor-l));
  --body-color: hsl(var(--brand-color-h), 99%, 99%);
  --footer-bgcolor: hsl(var(--brand-color-h), 9%, 90%);
  
  --box-shadow: none; 
  /* 0px -2px 6px hsl(var(--brand-color-h), 10%, 20%); */
  --screen-mobile: 360px;
  --screen-xtablet: 1360px;
  --content-max-width: var(--screen-xtablet);

  --base-font-size: 1em;
  --base-line-height: 1,5;
  --base-header-line-height: 1.25;

  --body-font-family: "Cruinn", "Literal Light", Verdana, sans-serif ;
  --header-font-family: "IntroHeadR", Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

/* --screen-mobile: 360px; */
@media only screen and (min-width: 360px) {
  :root {
      --flex-direction-row: column;
  }
}
/* --screen-xmobile: 768px; */
@media only screen and (min-width: 768px) {
  :root {
      --flex-direction-row: column;
      /* --header-height: 3em; */
  }
}
/* --screen-tablet: 1024px; */
@media only screen and (min-width: 1024px) {
  :root {
      --base-font-size: 1.2em;
      --flex-direction-row: row;
  }
}
/* --screen-xtablet: 1360px; */
@media only screen and (min-width: 1360px) {
  :root { 
      --base-font-size: 1.3em;
  }
}
/* --screen-desktop: 1920px; */
@media only screen and (min-width: 1920px) {
  :root { 
      --base-font-size: 1.4em;
  }
}
/* --screen-xdesktop: 2560px; */
@media only screen and (min-width: 2560px) {
  :root { 
      --base-font-size: 1.6em;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* background-color: var(--body-bgcolor); */
  font-family: var(--body-font-family);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  min-width: var(--screen-mobile);
}

nav {
  margin: auto 0;
}

h1, h2, h3, h4 {
  font-family: var(--header-font-family);
}

video {
  margin: 0;
  background-color: var(--body-bgcolor);
}
#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
header {
  background-color: var(--brand-bgcolor);
  height: var(--header-height);
  position: fixed;
  width: 100%;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  border-bottom: 1px solid hsl(var(--brand-color-h), var(--brand-color-s), calc(var(--brand-color-l) + 15%));
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  z-index: 7;
}
header > div {
  max-width: var(--content-max-width);
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: space-between;
  /* padding: 0 1em; */
}
main {
  margin-top: var(--header-height);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
footer {
  padding: .5em;
  font-size: .9em;
  background-color: var(--footer-bgcolor);
  color: var(--body-bgcolor);
}

/* Bread crumb module [ */
.breadcrumb-content {
    width: 100%;
    max-width: var(--content-max-width);
    margin: 0 auto;
    white-space: nowrap; /* Запрещаем перенос строк */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 1rem;
}

.breadcrumb {
    list-style: none;
    margin: 0;
    padding: .5em;
    display: inline-block; /* Делаем список строчным блоком для горизонтального расположения */
    /* Стили для тач сколла */
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    scrollbar-width: none; /* Для браузера FireFox */
}

.breadcrumb li {
    display: inline-block;
    margin-right: .2em;
    scroll-snap-align: start; /* для тач сколла */
}

.breadcrumb li::after {
  content: " : ";
}

.breadcrumb li a {
    color: var(--brand-bgcolor);
}

.breadcrumb li a:hover {
    color: var(--body-bgcolor);
}
.breadcrumb li:last-child::after {
  content: '';
}
/* ] */

#bg_video {
  position: fixed;
  top: calc(var(--header-height) - 1rem);
  left: 0;
  min-width: 100%;
  object-fit: cover;
  z-index: -1;
}
section#hero {
  display: flex;
  flex-direction: var(--flex-direction-row);
  align-items:flex-end;
  justify-content:center;
  background-color: transparent;
  padding: 2em;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
section {
  background-color: var(--body-color);
  color: var(--body-bgcolor);
}

button, a {
  transition: all 300ms;
  cursor: pointer;
}

a {
  text-decoration: none;
}

#hero_text > h1 {
  font: 4em "Cruinn Bold", sans-serif;
  margin: .5em 0;
  color: var(--body-color);
  @media screen and (max-width: 768px) {
      font-size: 2.5em;
  }
}
.hero_button {
  /* box-shadow: inset; */
  padding: 0 3em;
  display: flex;
  flex-flow: row nowrap;
  gap: .5em;
}
.hero_button > a {
  display: block;
  border: 1px solid var(--brand-bgcolor);
  font: 1em "Cruinn Black", sans-serif;
  font-variant: small-caps;
  background-color: var(--body-color);
  padding: .5em 1em;
  border-radius: 2em;
  color: var(--body-bgcolor);
  opacity: 85%;
  text-align: center;
}
.hero_button > a:hover {
  background-color: var(--brand-bgcolor);
  color: var(--body-color);
  opacity: 100%;
}
section#content {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  box-shadow: var(--box-shadow);
  padding-top: 1em;
  height: 100%;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  /* padding: 1em 0 0 1em; */
  justify-content: center;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center
}
.menu-item {
  display: block;
  padding: 0 .5em;
}
.menu-item-extra {
  display: block;
  padding: 0 .5em;
  color: var(--body-color);
  font-family: IntroHeadR,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  font-size: 1.4em;
  background-color: transparent;
  border: none;
}
.menu-item-extra:hover, .menu-item-extra:focus {
  opacity: .5;
}
.menu-item > a {
  color: var(--body-color);
  font-family: IntroHeadR,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  font-size: 1.4em;
  font-variant: small-caps;
}
.menu-item > a:hover {
  transition: all 300ms;
  border-bottom: 1px solid var(--body-color);
}

div#logo {
  height: 100%;
}

div#logo > a {
  display: block;
  height: inherit;
  padding: .5em;
}
div#logo > a > img {
  height: inherit;
  width: auto;
}

/* Navigation panel */
.nav {
  width: 20em;
  min-width: 20em;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 100vw;
  margin: 0;
  padding: 1em;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  transition: left 0.3s;
  background: var(--brand-bgcolor);
  z-index: 10;
}
.nav-toggle {
  padding: 0.5em;
  background: inherit;
  color: var(--body-color);
  cursor: pointer;
  font-size: 1.5em;
  line-height: 1;
  -webkit-transition: opacity .25s ease-in-out;
  -moz-transition: opasity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}
/* определяем текст кнопки символ Unicode (TRIGRAM FOR HEAVEN) */
.nav-toggle:after {
  content: '\2630';
  text-decoration: none;
}
.nav-toggle:hover {
  opacity: 0.7;
}
#nav-toggle {
  position: absolute;
  display: none;
}
/**
* изменение положения переключателя 
* при просмотре на мобильных устройствах
* когда навигация раскрыта, распологаем внутри панели

[id='nav-toggle']:checked ~ .nav > .nav-toggle {
  left: auto;
  right: 2px;
  top: 1em;
} */
/**
* Когда флажок установлен, открывается панель
* используем псевдокласс:checked
*/

#nav-toggle:checked ~ header .nav {
  left: calc(100vw - 20em);
  box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
  -moz-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
  -webkit-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5); 
  overflow-y: auto;
}
/*
* изменение символа переключателя,
* привычный крестик (MULTIPLICATION X), 
* вы можете испльзовать любой другой значок
*/

#nav-toggle:checked ~ header .nav > .nav-toggle-off:after {
  content: '\2715';
  cursor: pointer;
  color: var(--body-color);
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  font-size: 1.5em;
}
#nav-toggle:checked ~ header .nav > .nav-toggle-off:hover {
  opacity: 0.7;
}
/**
* профиксим баг в Android <= 4.1.2
* см: http://timpietrusky.com/advanced-checkbox-hack
*/

body {
  -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
  to {
  padding: 0;
  }
}

/**
* позаботьтимся о средних и маленьких экранах
* мобильных устройств
*/

@media screen and (min-width: 320px) {
  html,
  body {
  margin: 0;
  overflow-x: hidden;
  }
}

@media screen and (max-width: 320px) {
  html,
  body {
  margin: 0;
  overflow-x: hidden;
  }
  .nav {
  width: 100%;
  box-shadow: none
  }
}
.nav > ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav > ul > li {
  line-height: 2;
  opacity: 0;
  transition: opacity .5s .1s;
}
#nav-toggle:checked ~ header .nav > ul > li {
  opacity: 1;
}
#nav-toggle:checked ~ #cover {
  display: block;
}
/**
* оформление ссылок пунктов меню
*/

.nav > ul > li > a {
  display: inline-block;
  position: relative;
  padding: 0;
  width: 100%;
  text-decoration: none;
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.nav > ul > li > a:hover,
.nav > ul > li > a:focus {
  opacity: 0.7;
  border-bottom: none;
}

#cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.5);
  display: none;
  z-index: 8;
}
