@font-face {
  font-family: 'Cruinn';
  font-style: normal;
  font-weight: 400;
  src: local("Cruin"),
      url('ttf/Cruinn Regular.ttf');
}
@font-face {
  font-family: 'Cruinn';
  font-style: normal;
  font-weight: 100;
  src: local("Cruin Thin"),
      url('ttf/Cruinn Thin.ttf');
}@font-face {
  font-family: 'Cruinn';
  font-style: normal;
  font-weight: 300;
  src: local("Cruin Light"),
      url('ttf/Cruinn Light.ttf');
}@font-face {
  font-family: 'Cruinn';
  font-style: normal;
  font-weight: 500;
  src: local("Cruin Medium"),
      url('ttf/Cruinn Medium.ttf');
}@font-face {
  font-family: 'Cruinn';
  font-style: normal;
  font-weight: 700;
  src: local("Cruin Bold"),
      url('ttf/Cruinn Bold.ttf');
}@font-face {
  font-family: 'Cruinn';
  font-style: normal;
  font-weight: 900;
  src: local("Cruin Black"),
      url('ttf/Cruinn Black.ttf');
}

@font-face {
  font-family: 'IntroHeadR';
  font-style: normal;
  font-weight: normal;
  src: local("IntroHeadR"),
      url('ttf/IntroHeadR-Base.otf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  src: local("Open Sans"),
      url('ttf/OpenSans.ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  src: local("Open Sans"),
      url('ttf/OpenSans-Italic.ttf');
}

:root {
  --border-radius: .9rem;
  --header-height: 4em;
  
  --brand-color-h: 200;
  --brand-color-s: 96%;
  --brand-color-l: 55%;    
  --brand-bgcolor: hsl(var(--brand-color-h), var(--brand-color-s), var(--brand-color-l));
  
  
  --body-bgcolor-l: 30%;
  --body-color: hsl(var(--brand-color-h), 1%, var(--body-bgcolor-l));
  --body-bgcolor: hsl(var(--brand-color-h), 99%, 99%);
  --footer-bgcolor: hsl(var(--brand-color-h), 9%, 90%);
  
  --box-shadow: none; /* 0px -2px 6px hsl(var(--brand-color-h), 10%, 20%); */
  --screen-mobile: 360px;
  --screen-xtablet: 1360px;
  --content-max-width: var(--screen-xtablet);

  --base-font-size: 1em;
  --slogan-font-size: 1.5em;
  --base-header-line-height: 1.25;
  --searchinput-min-width: 210px;

  --body-font-family: "Cruinn", sans-serif ;
  --header-font-family: "IntroHeadR", 'Arial Narrow Bold', sans-serif; 
}

/* --screen-mobile: 360px; */
@media only screen and (min-width: 360px) {
  :root {
      --flex-direction-row: column;
      --slogan-font-size: 1.7em;
      --searchinput-min-width: 210px;
  }
}
/* --screen-xmobile: 768px; */
@media only screen and (min-width: 498px) {
  :root {
      --flex-direction-row: column;
      --slogan-font-size: 2em;
      --searchinput-min-width: 20em;
  }
}
/* --screen-xmobile: 768px; */
@media only screen and (min-width: 768px) {
  :root {
      --flex-direction-row: column;
      --slogan-font-size: 2.4em;
  }
}
/* --screen-tablet: 1024px; */
@media only screen and (min-width: 1024px) {
  :root {
      --base-font-size: 1.2em;
      --flex-direction-row: row;
      --slogan-font-size: 2.7em;
  }
}
/* --screen-xtablet: 1360px; */
@media only screen and (min-width: 1360px) {
  :root { 
      --base-font-size: 1.3em;
      --slogan-font-size: 3em;
  }
}
/* --screen-desktop: 1920px; */
@media only screen and (min-width: 1920px) {
  :root { 
      --base-font-size: 1.4em;
  }
}
/* --screen-xdesktop: 2560px; */
@media only screen and (min-width: 2560px) {
  :root { 
      --base-font-size: 1.6em;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--body-font-family);
  font-size: var(--base-font-size);
}

nav {
  margin: auto 0;
  position: relative;
}

h1, h2, h3, h4 {
  font-family: var(--header-font-family);
  font-variant: all-small-caps;
  font-weight: 900;
}
#container {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  min-width: calc(var(--screen-mobile) - 10px);
  background-color: var(--body-bgcolor);
}
header {
  background-color: var(--brand-bgcolor);
  height: var(--header-height);
  position: fixed;
  width: 100%;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  border-bottom: 1px solid hsl(var(--brand-color-h), var(--brand-color-s), calc(var(--brand-color-l) + 15%));
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  z-index: 7;
}
header > div {
  max-width: var(--content-max-width);
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: space-between;
}
main {
  margin-top: var(--header-height);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
main > *:not(video, #homepagecontent) {
  max-width: var(--content-max-width);
  width: 100%;
  min-width: calc(var(--screen-mobile) - 10px);
  align-self: center;
}
footer {
  padding: .5em;
  font-size: .9em;
  background-color: var(--footer-bgcolor);
  color: var(--body-color);
  z-index: 1;
}

/* Bread crumb module [ */
.breadcrumb-content {
    width: 100%;
    max-width: var(--content-max-width);
    margin: 0 auto;
    white-space: nowrap; /* Запрещаем перенос строк */
    font-size: 1rem;
}

.breadcrumb {
    list-style: none;
    margin: 0;
    padding: .5em;
    display: inline-block; /* Делаем список строчным блоком для горизонтального расположения */
    width: inherit; /*если не задать ширину, то расширится за пределы экрана, а прокрутки не будет*/
    /* Стили для тач сколла */
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    scrollbar-width: none; /* Для браузера FireFox */
}

.breadcrumb li {
    display: inline-block;
    margin-right: .2em;
    scroll-snap-align: start; /* для тач сколла */
}

.breadcrumb li::after {
  content: " : ";
}

.breadcrumb li a {
    color: var(--brand-bgcolor);
}

.breadcrumb li a:hover {
    color: var(--body-color);
}
.breadcrumb li:last-child::after {
  content: '';
}
/* ] */

section {
  background-color: var(--body-bgcolor);
  color: var(--body-color);
}

button, a {
  transition: all 300ms;
  cursor: pointer;
}

a, a:visited, a:active, a * {
  text-decoration: none;
}
/* css tools */
.flex-row {
  display: flex;
  flex-wrap: nowrap;
}
.block {
  padding-bottom: 1em;
}
.wrap {
  flex-wrap: wrap;
}
.gap {
  gap: 1em;
}
.grow {
  flex-grow: 1;
}
.nowrap {
  flex-wrap: nowrap;
}
.content {
  font-size: 1rem;
}
h1 { font-size: 2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }

/* [-- Фото лента */
.gallery__photos {
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  scrollbar-width: none; /* Для браузера FireFox */
  display: flex;
  flex-flow: row nowrap;
  gap: 1em;
  padding: 1em 0;
  margin: .5em 0;
  /* box-shadow: 0 0 10px hsl(var(--brand-color-h), 10%, 80%); */
   /*_*/
  --heigth: 150px;
  min-height: var(--heigth);
  max-height: var(--heigth);
}
.gallery__photos::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.gallery__photo {
  display: block;
  --width: 200px;
  scroll-snap-align: start;
  min-height: 100%;
  max-height: 100%;
  min-width: var(--width);
  max-width: var(--width);
  overflow: hidden;
  border-radius: var(--border-radius);
  border: 1px solid var(--body-color);
}
.gallery__photo__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 300ms;
  cursor: pointer;
}
.gallery__photo__img:hover {
  transform: scale(104%);
}
#gallery-toggle {
  display: none;
}
/* затеммнеение всей страницы при просмотре медиа */
#gallery-cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.7);
  display: none;
  z-index: 8;
}
#gallery-toggle:checked ~ #gallery-cover {
  display: block;
}
#gallery-toggle:checked ~ .gallery {
  position: fixed;
  inset: 0;
  z-index: 9;
}
#gallery-toggle:checked ~ .gallery > .gallery__photos {
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  margin: 0;
  box-shadow: none;
}
#gallery-toggle:checked ~ .gallery .gallery__photo {
  border: none;
}
#gallery-toggle:checked ~ .gallery .gallery__photo__img {
  border: 3px solid var(--body-bgcolor);
  border-radius: var(--border-radius);
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;
  min-width: 60%;
  margin-top: 1em;
}
#gallery-toggle:checked ~ .gallery > .gallery__photos > .gallery__photo {
  min-width: 100%;
  max-width: 100%;
  text-align: center;
}
#gallery-toggle:checked ~ .gallery .gallery__photo__img:hover {
  transform: none;
}
.gallery__control {
  display: none;
  position: absolute;
  bottom: 0; /* у контролов есть свой паддинг для отсупов */
  color: white;
  cursor: pointer;
  font-size: 3rem;
  padding: 1rem;
  opacity: 0.6;
  transition: opacity 300ms;
}
.gallery__control:hover {
  opacity: 1;
}
#gallery__control_forward {
  right: calc(50% - 5rem);
}
#gallery__control_backward {
  left: calc(50% - 5rem);
}
#gallery-toggle:checked ~ .gallery .gallery__control {
  display: block;
}
/* Фото лента --] */

/* Главное меню сайта, горизонтальное */
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center
}
.menu-item {
  display: block;
  padding: 0 .5em;
}
.menu-item > a {
  color: var(--body-bgcolor);
  font-family: IntroHeadR,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  font-size: 1.4em;
  font-variant: small-caps;
}
.menu-item > a:hover {
  transition: all 300ms;
  border-bottom: 1px solid var(--body-bgcolor);
}

div#logo {
  height: 100%;
}

div#logo > a {
  display: block;
  height: inherit;
  padding: .6em 1.7em;
}
div#logo > a > img {
  height: inherit;
  width: auto;
}
/*<Кнопка поиска в главном меню>*/
#search-button {
  color: var(--body-bgcolor);
  font-size: 1.4em;
  background-color: transparent;
  border: none;
}
#search-button:hover, .search-button:focus {
  opacity: .5;
}
/*Далее скрытые элементы, которые появятся при активации*/
.search {
  position: absolute;
  top: -.3em;
  right: 4em;
  width: 2.5em;
  min-width: 2.5em;
  height: 2.5em;
  background: var(--brand-bgcolor);
  border-radius: 1.25em;
  overflow: hidden;
  box-shadow: 0 0 0 1px var(--body-bgcolor);
  color: var(--body-bgcolor);
  display: none;
  z-index: 9;
  transition: width 0.3s, min-width 0.3s;
}
.search__icon {
  position: absolute;
  left: .8em;
  top: 50%;
  background-color: var(--brand-bgcolor);
  transform: translateY(-40%);
  cursor: pointer;
  z-index: 10;
}
.search__active {
  min-width: var(--searchinput-min-width);
  width: 100%;
}
 .search__input {
  font-size: 1em;
  position: absolute;
  top: 50%;
  transform: translateY(-45%);
  right: 1.5em;
  left: 2.2em;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--body-bgcolor);
 }
 .search__input::placeholder {
  color: var(--body-bgcolor);
 }
 .search__input:active {
  box-shadow: none;
 }
.search__clear {
  position: absolute;
  top: 50%;
  right: .6em;
  transform: translateY(-50%);
  background: transparent;
  z-index: 9;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
  opacity: .8;
}
input.search__input[type="search"]::-webkit-search-decoration, 
input.search__input[type="search"]::-webkit-search-cancel-button, 
input.search__input[type="search"]::-webkit-search-results-button, 
input.search__input[type="search"]::-webkit-search-results-decoration { 
    display: none;
}
.search__output {
  display: block;
  position: fixed;
  width: 90%;
  left: 50%;
  transform: translate(-50%);
  max-width: calc(var(--content-max-width) - 10%);
  top: var(--header-height);
  border: 1px solid var(--brand-bgcolor);
  background-color: var(--body-bgcolor);
  color: var(--body-color);
  border-radius: var(--border-radius);
  opacity: 0;
  transition: opacity 300ms 300ms;
  overflow: hidden;
}
.search__output_on {
  display: block;
  opacity: 1;
}
.search__response_link {
  display: block;
  width: 100%;
  background-color: hsl(var(--brand-color-h), 39%, 50%);
  color: var(--body-bgcolor);
  padding: .5em 1em;
  font-weight: bold;
}
.search__response_link:hover, .search__response_link:focus, .search__response_link_active {
  background-color: hsl(var(--brand-color-h), 59%, 30%);;
}
.search__response_link + .search__response_link {
  border-top: 1px dotted var(--body-bgcolor);
}
/*</Кнопка поиска в главном меню>*/

/* Navigation panel */
.nav {
  width: 20em;
  min-width: 15em;
  max-width: 25em;
  /* height: var(--viewport-height); /* переменная из js window.innerHeight для мобильных */
  bottom: 0; /* это проще, заменяет строку выше, нужно полное тестирование */
  position: fixed;
  top: 0;
  right: -30em;
  margin: 0;
  padding: 1em;
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  transition: right 0.3s;
  background: var(--brand-bgcolor);
  z-index: 10;
  display: flex;
  flex-flow: column nowrap;
  overflow-x: hidden;
  overflow-y: auto;
}
.nav-toggle {
  padding: 0.5em;
  background: inherit;
  color: var(--body-bgcolor);
  cursor: pointer;
  font-size: 1.5em;
  line-height: 1;
  -webkit-transition: opacity .25s ease-in-out;
  -moz-transition: opasity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}
/* определяем текст кнопки символ Unicode (TRIGRAM FOR HEAVEN) */
.nav-toggle:after {
  content: '\2630';
  text-decoration: none;
}
.nav-toggle:hover {
  opacity: 0.7;
}
#nav-toggle {
  position: absolute;
  display: none;
}
#nav-toggle:checked ~ .nav {
  right: 0;
  box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
  -moz-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
  -webkit-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5); 
  overflow-y: auto;
}
#nav-toggle:checked ~ .nav > .nav-toggle-off:after {
  content: '\2715'; /* крестик (MULTIPLICATION X), */
  cursor: pointer;
  color: var(--body-bgcolor);
  display: inline-block;
  width: 1.5em;
  text-align: center;
  font-size: 1.5em;
}
#nav-toggle:checked ~ .nav > .nav-toggle-off:hover {
  opacity: 0.7;
}
.nav > ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav > ul > li {
  line-height: 2;
  opacity: 0;
  transition: opacity .5s .1s;
}
#nav-toggle:checked ~ .nav > ul > li {
  opacity: 1;
}
#nav-toggle:checked ~ .cover {
  display: block;
}
.nav > ul > li > a {
  display: inline-block;
  position: relative;
  padding: 0;
  width: 100%;
  text-decoration: none;
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.nav > ul > li > a:hover,
.nav > ul > li > a:focus {
  opacity: 0.7;
  border-bottom: none;
}
/* затеммнеение всей страницы при открытии боковой панели */
.cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.5);
  display: none;
  z-index: 8;
}
/* .cover.cover_on делает затемнение только того, что ниже верхнего 
гризонтального меню - нужно для поиска */
.cover_on {
  display: block;
  z-index: 6;
}
/* Боковая панель */
.nav > ul {
  flex-grow: 1;
  padding: .5em 0;
}
.nav__footer {
  padding: .5em 0;
  border-top: 1px dashed var(--body-bgcolor);
  margin: .5em 0;
  color: var(--body-bgcolor);
  font-size: 1em;
}
.nav__login {
  padding: 0.5em 0;
  border-bottom: 1px dashed var(--body-bgcolor);
  text-align: center;
}
.nav__login > button {
  padding: 0.5em 1em;
  margin: .5em 0;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: .5em;
  background-color: var(--brand-bgcolor);
  cursor: pointer;
  color: var(--body-bgcolor);
  font-size: 1em;
  font-weight: bold;
  width: 100%;
}
.nav__login > button:hover {
  opacity: 0.7;
}

/* <--tags заимствовано из bulma */
.tags {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start
}

.tags .tag {
  margin-bottom: .5rem
}

.tags .tag:not(:last-child) {
  margin-right: .5rem
}

.tags:last-child {
  margin-bottom: -.5rem
}

.tags:not(:last-child) {
  margin-bottom: 1rem
}

.tags.are-medium .tag:not(.is-normal):not(.is-large) {
  font-size: 1rem
}

.tags.are-large .tag:not(.is-normal):not(.is-medium) {
  font-size: 1.25rem
}

.tags.is-centered {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.tags.is-centered .tag {
  margin-right: .25rem;
  margin-left: .25rem
}

.tags.is-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

.tags.is-right .tag:not(:first-child) {
  margin-left: .5rem
}

.tags.is-right .tag:not(:last-child) {
  margin-right: 0
}

.tag:not(body) {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--body-color);
  border-radius: 4px;
  color: var(--body-bgcolor);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: .75rem;
  height: 2em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.5;
  padding-left: .75em;
  padding-right: .75em;
  white-space: nowrap
}

.tag:not(body) .delete {
  margin-left: .25rem;
  margin-right: -.375rem
}

.tag:not(body).is-white {
  background-color: #fff;
  color: #0a0a0a
}

.tag:not(body).is-black {
  background-color: #0a0a0a;
  color: #fff
}

.tag:not(body).is-light {
  background-color: #f5f5f5;
  color: #000000b3
}

.tag:not(body).is-dark {
  background-color: #363636;
  color: #fff
}

.tag:not(body).is-primary {
  background-color: #01a3a4;
  color: #fff
}

.tag:not(body).is-primary.is-light {
  background-color: #ebffff;
  color: #01c4c6
}

.tag:not(body).is-link {
  background-color: #01a3a4;
  color: #fff
}

.tag:not(body).is-link.is-light {
  background-color: #ebffff;
  color: #01c4c6
}

.tag:not(body).is-info {
  background-color: #3e8ed0;
  color: #fff
}

.tag:not(body).is-info.is-light {
  background-color: #eff5fb;
  color: #296fa8
}

.tag:not(body).is-success {
  background-color: #48c78e;
  color: #fff
}

.tag:not(body).is-success.is-light {
  background-color: #effaf5;
  color: #257953
}

.tag:not(body).is-warning {
  background-color: #ffe08a;
  color: #000000b3
}

.tag:not(body).is-warning.is-light {
  background-color: #fffaeb;
  color: #946c00
}

.tag:not(body).is-danger {
  background-color: #f14668;
  color: #fff
}

.tag:not(body).is-danger.is-light {
  background-color: #feecf0;
  color: #cc0f35
}

.tag:not(body).is-normal {
  font-size: .75rem
}

.tag:not(body).is-medium {
  font-size: 1rem
}

.tag:not(body).is-large {
  font-size: 1.25rem
}

.tag:not(body).is-rounded {
  border-radius: 9999px
}

a.tag:hover {
  opacity: 0.7;
}
/* tags--> */
/* Общие стили для внутренних страниц */
#content {
  max-width: var(--content-max-width);
  width: 100%;
  margin: 0 .5em .5em;
  padding: .5em;
  align-self: center;
}
.box {
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: 0 0 2px var(--body-color);
  border-radius: var(--border-radius);
}
#content.box {
  padding: 2em;
}
.box > h1, .box > h2, .box > h3,.box > h4 {
  margin: 0;
}
.box__container {
  display: flex;
  flex-flow: row wrap;
  gap: 1.5em;
}
.box__child {
  --width: calc((var(--content-max-width) - 4em) / 3);
  display: block;
  max-width: var(--width);
  width: var(--width);
  color: var(--body-color);
  background-color: var(--body-bgcolor);
  border-left: 2px solid var(--body-bgcolor);
  border-right: 2px solid var(--body-bgcolor);
  transition: border 0.3s;
  position: relative; /* 1. весь блок будет ссылкой, см. далее.. */
}
/* ..2. расширим ссылку на весь relative родительский блок.. */
.box__child > a::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
/* ..3. и теперь ещё работает ссылка тега поверх блочной ссылки */
.box__child .tags > a {
  position: relative;
}
.box__child h3 {
  margin: 0;
  padding: .5em .1em;
}
.box__child small {
  font-size: .5em;
}
.box__child:hover, .box__child:focus {
  border-left: 2px solid var(--brand-bgcolor);
  border-right: 2px solid var(--brand-bgcolor);
}
.box__img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.box__child a:not(.tag) {
  color: var(--body-color);
}
.date, .location {
  font-size: 1rem;
  padding: .5em 0 0;
}
.date + .location {
  margin-left: 1em;
}
.box__logo {
  width: 5em;
  align-self: center;
}
