.tag {
    padding: .2em .4em;
    border-radius: .5em;
    color: var(--body-bgcolor);
    background-color: var(--body-color);
}
#content {
    max-width: var(--content-max-width);
    width: 100%;
    margin: 0 auto;
    padding: .5em;
}
#content > h1 {
    font-variant: small-caps;
}
.box__container {
    display: flex;
    flex-flow: row wrap;
    gap: 1.5em;
}
.box {
    display: block;
    padding: .5em;
    margin: 1em 0;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
    border-radius: var(--border-radius);
    width: 17em;
    color: var(--body-color);
    background-color: var(--body-bgcolor);
    transition: transform 0.3s, box-shadow 0.3s;
}
.box a {
    color: var(--body-color)
}
.box h3 {
    margin: 0;
}
.box small {
    font-size: .5em;
}
.box:hover, .box:focus {
    transform: translateY(-1px);
    box-shadow: 0 1px 10px rgba(0,0,0,0.25);
}
.box img {
    max-width: 100%;
    height: auto;
}
.date {
    font-size: 1rem;
    padding: .5em 0 0;
}
