#content {
    max-width: var(--content-max-width);
    width: 100%;
    margin: 0 .5em .5em;
    padding: .5em;
    align-self: center;
}
.box {
    margin: 0 0 1em;
    padding: .5em;
    box-shadow: 0 0 2px var(--body-color);
    border-radius: var(--border-radius);
}
#content.box {
    padding: 2em;
}
.h1 {
    /* font-variant: small-caps; */
    font-size: 2rem;
    text-indent: 1em;
}
.box > h1 {
    margin: 0;
    color: var(--body-color);
}
.box__container {
    display: flex;
    flex-flow: row wrap;
    gap: 1.5em;
}
.box__child {
    display: block;
    width: 17em;
    color: var(--body-color);
    background-color: var(--body-bgcolor);
    transition: opacity 0.3s;
}
.box__child h3 {
    margin: 0;
    padding: .5em .1em;
}
.box__child small {
    font-size: .5em;
}
.box__child:hover, .box__child:focus {
    opacity: .8;
}
.box img {
    max-width: 100%;
    height: auto;
}
.box__child a:not(.tag) {
    color: var(--body-color);
}
.date, .location {
    font-size: 1rem;
    padding: .5em 0 0;
}
.box strong {
    padding-right: 1em;
}