:root {
    --button-radio-border-color: var(--body-color);
    --button-radio-active-color: var(--brand-bgcolor);
}

.section {
    background-image:repeating-linear-gradient(
        -0deg,
        var(--body-color) 0 40%,
        var(--brand-bgcolor) 40% 60%
      );
    color: var(--body-color);
    position: relative;
}

/* Стили для слайдера обернуты в div#sl */
#sl-slides, .sl-slide, #sl {
    max-width: 1304px;
    aspect-ratio: 2.7/1;    
}
#sl {
    margin: 0 auto;
    position: relative;
}
#sl-slides {
    scroll-snap-type: x mandatory;
    display: flex;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    scrollbar-width: none; /* Для браузера FireFox */
    border-radius: 1em;
    box-shadow: 0 0 6px white, 0 0 2px black;
}
#sl-slides::-webkit-scrollbar {
    height: 0;
    width: 0;
}
.sl-slide {
    display: block; 
    scroll-snap-align: start;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
.sl-slide > * {
    position: absolute;
    color: var(--body-color);
}
.sl-slide > img {
    width: 100%;
    height: 100%;
}
.sl-slide > h2, time {
    left: 1rem;
}
.sl-slide > h2 {
    bottom: 1.8rem;
    font-size: 1.2em;
    font-family: inherit;
}
.sl-slide > time, .sl-slide > div {
    background-color: var(--body-color);
    border-radius: 1em;
    color: var(--body-bgcolor);
    padding: .5em 1em;
    font-size: .7em;
}
.sl-slide > time {
    bottom: 1rem;
}
.sl-slide > div {
    bottom: 1rem;
    right: 1rem;
}
#sl button > i {
    color: var(--body-color);
    mix-blend-mode: difference;
    font-size: 1.5em;
    font-weight: bold;
    transform: translateY(50%);
} 

#sl .radio-group {
    position: absolute;
    display: flex;
    bottom: .5em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}
  
#sl .button {
    cursor: pointer;
    user-select: none;
}

#sl .button-radio {
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    background-color: var(--button-radio-border-color);
    border: none;
}

#sl .button-radio + .button-radio {
    margin-left: .8rem;
}

#sl .button-radio[aria-current='true'] {
    background-color: var(--button-radio-active-color);
    pointer-events: none;
}

#sl .button-radio:focus-visible {
    outline: 3px solid var(--button-radio-border-color);
    outline-offset: -1px;
}

#sl .button-prev,
#sl .button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    z-index: 1;
    height: 100%;
    padding: 0 .6em;
}

#sl .button-prev:hover,
#sl .button-next:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#sl .button-prev[aria-disabled="true"],
#sl .button-next[aria-disabled="true"] {
    opacity: 0.5;
    pointer-events: none;
}
#sl .button-prev[aria-disabled="true"]:hover,
#sl .button-next[aria-disabled="true"]:hover {
    background-color: transparent;
}

#sl .button-prev {
    left: 0;
}

#sl .button-next {
    right: 0;
}

section > .content {
  max-width: var(--content-max-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 1em;
}

/* Calendar component */
.cal {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
#cal {
  position: relative;
  font-size: 1.5rem;
}
#cal-start, #cal-end {
  position: absolute;
  top: 0;
  width: 7rem;
  height: 100%;
  position: absolute;
  z-index: 2;
}
#cal-start {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #FFF 40%);
  display: none;  /* начальное значение */
}
#cal-end {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #FFF 40%);
}
#cal-start > i, #cal-end > i {
  position: absolute;
  top: 50%;
  transform: translateY(-10%);
}
#cal-start > i {
  left: .4em;
}
#cal-end > i {
  right: .4em;
}
#cal-container {
  scrollbar-width: none; /* Для браузера FireFox скрытие scrollbar */
  padding: .5em 0;
  position: relative;
  scroll-snap-type: x mandatory;
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
}
#cal-container::-webkit-scrollbar { /* Для webkit скрытие scrollbar */
  width: 0;
  height: 0;
}
.cal-month {
  border-radius: .5em;
}
.cal-month + .cal-month {
  margin-left: .5em;
}
.cal-month > time {
  font-size: .8em;
  font-variant: small-caps;
  font-weight: bold;
  opacity: .5;
  padding-left: .5em;
  position: sticky;
  z-index: 2;
}
.cal-month:hover > time {
  opacity: .7;
}
.cal-month > div {
  display: flex;
}
.cal-day {
  padding: .3em;
  border-radius: 1em;
  width: 2em;
  text-align: center;
  z-index: 1;
}
.cal-day + .cal-day {
  margin-left: .1em;
}
.cal-day[aria-current='true'] {
  background-color: rgba(0, 0, 0, .05);
}
.cal-day:hover > p {
  opacity: .9;
  transition: all 300ms;
}
.cal-day > time {
  font-weight: bold;
  font-size: .9em;
}
.cal-day > p {
  margin: 0;
  font-variant: small-caps;
  font-weight: bold;
  opacity: .6;
  font-size: .8em;
}
.cal-day > p.red {
  color: red;
}
#cal-last {
  border-radius: 1.2em;
  box-shadow: 0 0 3px rgba(50, 50, 50, .4);
  font-size: .7em;
  font-weight: bold;
  text-align: center;
  margin: auto 1em;
  padding: .6em .8em;
  white-space: nowrap;
}
#cal-last:hover, #cal-last:focus {
  box-shadow: 0 3px 15px rgba(50, 50, 50, .3);
  transform: translateY(-3px);
}
#cal-marker {
  position: absolute;
  height: 100%;
  display: none;
  width: 15em;
  /* background-color: rgba(10, 10, 10, .05); */
  box-shadow: 0 0 10px rgba(10, 10, 10, .15) inset;
  border-radius: 1em;
}
#cal__content {
  /* box-shadow: 0 0 3px red inset; */
  display: flex;
  flex-flow: row wrap;
  gap: 1.5em;
  min-height: 400px;
  overflow: hidden;
}
.hideing {
  opacity: 1;
  animation: off .5s forwards;
}
@keyframes off {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
.event {
  width: 380px;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--body-color);
  color: var(--body-bgcolor);
  font-family: var( --body-font-family);
  opacity: 0;
  animation: on .4s forwards;
}
@keyframes on {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.event__img {
  width: inherit;
  height: 220px;
  border-radius: .6em;
}
.event__text {
  padding-top: .3em;
  font-size: 1rem;
  width: inherit;
}
.event__text__h1 {
  font-weight: bold;
  font-size: 1.5rem;
  padding: .2em;
}
.event__text__footer {
  display: flex;
  flex-flow: row nowrap;
  width: inherit;
  padding: 0 .2em;
}
.event__text__footer__date {
  font-family: Arial, Helvetica, sans-serif;
}
.event__text__footer__location {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.event__text__footer__location::before {
  content: "•";
  display: inline-block;
  margin: 0 8px;
  color: rgb(85, 18, 18);
}
.nowrap {
  white-space: nowrap;
}

/* Timer component */
.timer {
  display: grid;
  grid-template-columns: 4.5rem 0.5rem 4.5rem 0.5rem 4.5rem 0.5rem 4.5rem;
  font-size: 3rem;
  justify-items: center;
  margin-bottom: .4em;
  mix-blend-mode: difference;
}

.timer__item {
  position: relative;
}

.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  bottom: -0.75rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.875rem;
  color: var(--body-bgcolor);
}
.timer__text {
  text-indent: 1em;
  font-weight: bold;
  mix-blend-mode: difference;
}
