:root {
    --button-radio-border-color: var(--body-color);
    --button-radio-active-color: var(--brand-bgcolor);
}

.controls {
    position: absolute;
    bottom: 1.2em;
    z-index: 5;
  }
  
.button {
    cursor: pointer;
    user-select: none;
}

.button-radio {
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: .8em;
    height: .8em;
    border-radius: 50%;
    border: 1px solid var(--button-radio-border-color);
}

.button-radio + .button-radio {
    margin-inline-start: 12px;
}

.button-radio.active {
    background-color: var(--button-radio-active-color);
    pointer-events: none;
}

.button-radio:focus-visible {
    outline: 3px solid var(--button-radio-border-color);
    outline-offset: -1px;
}

.button-prev,
.button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    height: 1.2em;
    background-color: transparent;
    background-image: url(./arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.button-prev[aria-disabled="true"],
.button-next[aria-disabled="true"] {
    opacity: 0.5;
    pointer-events: none;
}

.button-prev {
    left: 0;
    margin: 0 0 0 .6em;
}

.button-next {
    right: 0;
    transform: translateY(-50%) rotateY(180deg);
    transform-origin: center;
    margin: 0 .6em 0 0;
}

.section {
    background-image:repeating-linear-gradient(
        -0deg,
        var(--body-color) 0 40%,
        var(--brand-bgcolor) 40% 60%
      );
    color: var(--body-color);
}
/* 
.slide-img {
    display: block;
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 2.7/1;
    border-radius: 1em;
    object-fit: cover;
    box-shadow: 0 8px 20px rgba(0, 51, 153, .08), 0 4px 8px rgba(0, 51, 153, .08);
}
.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: var(--content-max-width);
    inline-size: 100%;
    position: relative;
    padding: 1em 1.5em;
    margin: auto;
}

.slides {
    width: 100%;
    height: 100%;
}

.slide {
    display: none;
    text-align: center;
    position: relative;
    border: 1px solid var(--body-color);
    border-radius: var(--border-radius);
    z-index: 4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.slide h2 {
    position: absolute;
    left: 1em;
    bottom: 2.2em;
    font-size: 1em;
    color: var(--body-color);
}

.slide--active {
    display: block;
}

.slide > date, .location {
    position: absolute;
    bottom: 1em;
    background-color: var(--body-color);
    border-radius: 1em;
    color: var(--body-bgcolor);
    padding: .5em 1em;
    font-size: .7em;
}

.slide > date {
    left: 1em;
}

.slide > .location {
    right: 1em;
}

@media (max-width: 768px) {
    .slider {
        max-inline-size: 260px;
    }

    .slide-img {
        block-size: 400px;
    }

    .button-prev {
        inset-inline-start: -40px;
    }

    .button-next {
        inset-inline-end: -40px;
    }
} */
  