:root {
    --button-radio-border-color: var(--body-color);
    --button-radio-active-color: var(--brand-bgcolor);
}

.section {
    background-image:repeating-linear-gradient(
        -0deg,
        var(--body-color) 0 40%,
        var(--brand-bgcolor) 40% 60%
      );
    color: var(--body-color);
    position: relative;
}

/* Стили для слайдера обернуты в div#sl */
#sl-slides, .sl-slide, #sl {
    max-width: 1304px;
    aspect-ratio: 2.7/1;    
}
#sl {
    margin: 0 auto;
    position: relative;
}
#sl-slides {
    scroll-snap-type: x mandatory;
    display: flex;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    scrollbar-width: none; /* Для браузера FireFox */
    border-radius: 1em;
    box-shadow: 0 0 6px white, 0 0 2px black;
}
#sl-slides::-webkit-scrollbar {
    height: 0;
    width: 0;
}
.sl-slide {
    display: block; 
    scroll-snap-align: start;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
.sl-slide > * {
    position: absolute;
    color: var(--body-color);
}
.sl-slide > img {
    width: 100%;
    height: 100%;
}
.sl-slide > h2, time {
    left: 1rem;
}
.sl-slide > h2 {
    bottom: 1.8rem;
    font-size: 1.2em;
    font-family: inherit;
}
.sl-slide > time, .sl-slide > div {
    background-color: var(--body-color);
    border-radius: 1em;
    color: var(--body-bgcolor);
    padding: .5em 1em;
    font-size: .7em;
}
.sl-slide > time {
    bottom: 1rem;
}
.sl-slide > div {
    bottom: 1rem;
    right: 1rem;
}
#sl button > i {
    color: var(--body-color);
    mix-blend-mode: difference;
    font-size: 1.5em;
    font-weight: bold;
    transform: translateY(50%);
} 

#sl .radio-group {
    position: absolute;
    display: flex;
    bottom: .5em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}
  
#sl .button {
    cursor: pointer;
    user-select: none;
}

#sl .button-radio {
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    background-color: var(--button-radio-border-color);
    border: none;
}

#sl .button-radio + .button-radio {
    margin-left: .8rem;
}

#sl .button-radio[aria-current='true'] {
    background-color: var(--button-radio-active-color);
    pointer-events: none;
}

#sl .button-radio:focus-visible {
    outline: 3px solid var(--button-radio-border-color);
    outline-offset: -1px;
}

#sl .button-prev,
#sl .button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    z-index: 1;
    height: 100%;
    padding: 0 .6em;
}

#sl .button-prev:hover,
#sl .button-next:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#sl .button-prev[aria-disabled="true"],
#sl .button-next[aria-disabled="true"] {
    opacity: 0.5;
    pointer-events: none;
}
#sl .button-prev[aria-disabled="true"]:hover,
#sl .button-next[aria-disabled="true"]:hover {
    background-color: transparent;
}

#sl .button-prev {
    left: 0;
}

#sl .button-next {
    right: 0;
}
