{% load navigation_tags %}

<footer>
    {% with vk_url=settings.base.BrandSettings.vk_url github_url=settings.base.BrandSettings.github_url %}
        {% if vk_url or github_url %}
            <p>
                Мои страницы в:
                {% if github_url %}
                    <a href="{{ github_url }}">GitHub</a>
                {% endif %}
                {% if vk_url %}
                    <a href="{{ vk_url }}">VK</a>
                {% endif %}
            </p>
        {% endif %}
    {% endwith %}
    {% get_footer_text %}
    <p style='font-size: .6rem; text-align: right'>Powered by Wagtail.</p>
</footer>