{% load static wagtailimages_tags wagtailcore_tags navigation_tags wagtailuserbar %}

<input type="checkbox" id="nav-toggle" hidden>
<header>
    {% get_site_root as site_root %}
    <div>  
        <div id="logo">
            <a href="{% pageurl site_root%}">
                {% if settings.base.BrandSettings.logo_image %}
                {% image settings.base.BrandSettings.logo_image original alt='Главная страница' %}
                {% else %}
                <span alt="Загрузите логотип в панели управления">Логотип</span>
                {% endif %}
            </a>
        </div>
        <nav>
            <div class="search">
                <div class="search__icon"><i class="fa-light fa-magnifying-glass"></i></div>
                <input class='search__input' type="search" id="SearchInput" placeholder="Поиск">
                <div class="search__clear" onclick="document.getElementById('SearchInput').value = ''">&times;</div>
                <div class="search__output">Найдено:</div>
            </div>
            <ul class="menu flex-row">
                {% for menuitem in site_root.get_children.live.in_menu %}
                <li class="menu-item">
                    <a href="{% pageurl menuitem %}">{{ menuitem.title|lower }}</a>
                </li>
                {% endfor %}
                <li class='menu-item' id="search">
                    <button id='search-button' href="#"><i class="fa-light fa-magnifying-glass"></i></button>
                </li>
                <li class='menu-item'>
                    <label for="nav-toggle" class="nav-toggle" onclick></label>
                </li>
            </ul>
        </nav>
    </div>
    {% wagtailuserbar "bottom-right" %}
</header>
<nav class='nav'>
    <label for='nav-toggle' class='nav-toggle-off' onclick></label>
    <div class="nav__login"><button>войти</button></div>
    <ul></ul>
    <div class="nav__footer">{% now "d.m.Y" %}</div>
</nav>
<div class="cover"></div>
