{% load wagtailcore_tags navigation_tags wagtailuserbar %}
{% load navigation_tags %}
{% load wagtailimages_tags %}
<input type="checkbox" id="nav-toggle" hidden>
<header>
    {% get_site_root as site_root %}
    <div>  
        <div id="logo">
            <a href="{% pageurl site_root%}">
                {% if settings.base.BrandSettings.logo_image %}
                {% image settings.base.BrandSettings.logo_image original alt='Главная страница' %}
                {% else %}
                <span alt="Загрузите логотип в панели управления">Логотип</span>
                {% endif %}
            </a>
        </div>
        <nav>
            <ul class="menu flex-row">
                {% for menuitem in site_root.get_children.live.in_menu %}
                <li class="menu-item">
                    <a href="{% pageurl menuitem %}">{{ menuitem.title|lower }}</a>
                </li>
                {% endfor %}
                <li>
                    <button id='search' class="menu-item-extra" href="#"><i class="fa-light fa-magnifying-glass"></i></button>
                </li>
                <li>
                    
                    <label for="nav-toggle" class="nav-toggle" onclick>
                    </label>
                    <nav class='nav'>
                        <label for='nav-toggle' class='nav-toggle-off' onclick></label>
                        <ul>
                            <li class="menu-item"><a href="#1">Один</a>
                            <li class="menu-item"><a href="#2">Два</a>
                            <li class="menu-item"><a href="#3">Три</a>
                            <li class="menu-item"><a href="#4">Четыре</a>
                            <li class="menu-item"><a href="#5">Пять</a>
                            <li class="menu-item"><a href="#6">Шесть</a>
                            <li class="menu-item"><a href="#7">Семь</a> 
                         </ul>
                    </nav>
                </li>
            </ul>
        </nav>
    </div>
    {% wagtailuserbar "bottom-right" %}
</header>
<div id="cover"></div>
